<div class="row">
  <div class="panel panel-default">
    <div class="col-xs-12 panel-heading">
      <div class="col-xs-9">
        <span class="heading">
          <h2>Contacts</h2>
        </span>
      </div>
      <div class="col-xs-3">
        <button class="btn btn-success">New Contacts</button>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 margin-top">
          <br>
          <cms-contact-item *ngFor="let contact of contacts" [contact]="contact" (click)="onSelected(contact)">
          </cms-contact-item>
        </div>
      </div>
    </div>
  </div>
</div>
