<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Contacts</h2>
        <button class="btn btn-sucess ">New Contacts</button>
        <div class="row">
          <div class="col-xs-12">
            <a href="#" class="list-group-item clearfix" *gnform+="let contact of Contacts">
              <div class="pull-left">
                <h4 class="list-group-item-heading">{{contact.name}}</h4>
              </div>
              <span class="pull-right">
                <img [src]="contact.imageUrl" alt="{{contact.name}}" class="img-responsive" style="max-height: 50px;">
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
