<div class="row">
  <div class="panel panel-default">
    <div class="col-xs-12 panel-heading">
      <div class="col-xs-9">
        <span class="heading">
          <h1>Contacts</h1>
        </span>
      </div>
      <div class="col-xs-3">
        <a [routerLink]="['new']" class="btn btn-success">New Contacts</a>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 margin-top">
          <br>
          <cms-contact-item *ngFor="let contact of contacts" [contact]="contact" dnd-draggable [dragEnabled]="true"
            [dragData]="contact" [dropZones]="['contactGroup']">
          </cms-contact-item>
        </div>
      </div>
    </div>
  </div>
</div>
