<div class="row">
  <div class="panel panel-default">
    <div class="col-xs-12 panel-heading">
      <div class="col-xs-9">
        <span class="heading">
          <h1>Documents</h1>
        </span>
      </div>
      <div class="col-xs-3">
        <button class="btn btn-success">New Document</button>
      </div>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12 margin-top">
          <br>
          <cms-document-item></cms-document-item>
        </div>
      </div>
    </div>
  </div>
</div>
